:root{
    --background-color-top: black ;
    --second-background-color:#1F1F1F;
    --text-blue: #0070D1;
}

/**********Header**********/

.mr_nv_right  li{
    padding: 3px;
}


.mr_logo_sony{
    max-width: 80px;
}

.btn{
    padding: 4px 4px;  
}

.mr_btn_orange{
    background-color: #CD3D0F;
}


.mr_jumbotron_slide {
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    padding-top: 300px;
}

/*************Main*************/

#playstation  .mr_up_title p{
    color: var(--text-blue);
}

.mr_wrap_thumb{
    border-bottom: 2px solid white;
    margin-bottom: 30px;
}

.mr_wrap_thumb img {
    opacity: 0.5;
}


.first_banner_slide{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 300px;
}

#new-games{
    background-color: #1F1F1F;
}

.mr_zombie_img {
    visibility: visible;
}

.mr_text_banner_2{
  position: relative;
  bottom: 20;
}

.mr_btn_color{
    background-color: #D9DADC;
}




/********MediaQ*******/
 @media all and (max-width: 576px) {
    .mr_zombie_img {
        visibility: hidden;
    }
 }


/********Hover-Effects********/

.mr_border_thum_hover .mr_wrap_thumb:hover{
    border-bottom:#0070D1 2px solid;
    cursor: pointer;
   }

   .mr_wrap_thumb img:hover{
    opacity: 1;
   }


