:root{
    --background-color-top: black ;
}

.mr_top-header{
    background-color: var(--background-color-top);
}

.header-top img {
    height: 10px;
}

.btn{
    padding: 4px 4px;  
}

#jumbotron .btn {
    background-color: orangered;
}
#jumbotron{
    display: flex;
    align-items: flex-end;
}
.jumbotron-contents {
    width: 25%;
}

/********MediaQ*******/

@media all and (max-width: 768px) {
        .jumbotron-contents {
            width: 90%;
        }
}


/********Debug********/

.debug #jumbotron{
    background-color: pink;
    height: 500px;
}

.debug .col{
    border: 1px dashed red;
}

