:root{
    --background-color-top: black ;
    --second-background-color:#1F1F1F;
    --text-blue: #0070D1;
}

/**********Header**********/

.mr_nv_right  li{
    padding: 3px;
}


.mr_logo_sony{
    max-width: 80px;
}

.btn{
    padding: 4px 4px;  
}


.mr_jumbotron_slide {
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    padding-top: 300px;
}

/*************Main*************/

#playstation p{
    color: var(--text-blue);
}

.first_banner_slide{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 300px;
}

#new-games{
    background-color: #1F1F1F;
}

.mr_text_new-games{
    
}




/********MediaQ*******/



/********Debug********/


